{% extends 'admin/admin.html.twig' %}

{% block content %}
    <script type="text/javascript" src="{{  asset('media/libs/dropzone/dropzone.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('media/libs/dropzone/dropzone.min.css') }}">
    <h1>Добавить запись</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <form id="myAwesomeDropzone" action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone"></form>

{% endblock %}
