{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="wrap">
            <a class="valeron" href="{{ path('main_index') }}">{{ title|upper }}</a>
            {#<a class="valeron" href="{{ path('admin_test') }}">test</a>#}
            <ul class="nav">
                {% for but in admin_buttons %}
                    <li>
                        <a id="{{ but.id }}"  class="navigation" href="{#{{ but.href }}#} {{ path('admin_index', {'slug': but.slug}) }}" title="{{ but.title }}">
                            <i class="{{ but.i }}"></i>
                            <span class="disp_none">{{ but.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </header>
{% endblock %}

{% block content %}
    {#<h1 style="text-align: center; color: red;">ADMIN body: {{ test }}, {{ test2 }}</h1>#}

    {% if chetko is defined %}
        <span style="font-size: 20px; font-weight: bold; color: forestgreen; margin: 15px 0; display: block;">{{ chetko }}</span>
    {% endif %}
<div class="wrap">
<table id="all_articles">
    <tr>
        <th>Id записи</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th> </th>
        <th> </th>
    </tr>
    {% for a in all %}
        <tr>
            <td class="id">{{ a.id }}</td>
            <td class="title">{{ a.title }}</td>
            <td class="descr">{{ a.description }}</td>
            <td><a href="{{ path('admin_remove', {'productId': a.id}) }}" class="btn_remove">
                    <i class="fa fa-2x fa-times" aria-hidden="true" title="Удалить"></i>
                </a></td>
            <td><a href="{{ path('admin_edit', {'productId': a.id}) }}" class="btn_redit">
                    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true" title="Редактировать"></i>
                </a></td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

{% block footer %}
    <footer style="height: 170px; position: relative;">
        <div class="wrap">
            <div class="copyright">
                <h3 style="position: absolute; bottom: 15px; right: 30px; font-size: 1.5rem;">{{ title }}</h3>
            </div>
        </div>
    </footer>
{% endblock %}