{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="wrap">
            <a class="valeron" href="{{ path('main_index') }}">{{ title|upper }}</a>
        </div>
    </header>
{% endblock %}

{% block content %}

    <h2>Войти</h2>
    <form id="login_form" action="{{ path('login') }}" method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="_username" placeholder="Логин" value="{{ last_username }}" />

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">Отпраить</button>
    </form>

    {% if error %}
        <div style="color:darkred; font-size: 20px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% endblock %}

{% block footer %}
    <footer style="height: 170px; position: relative;">
        <div class="wrap">

            <div class="copyright">
                <h3 style="position: absolute; bottom: 15px; right: 30px; font-size: 1.5rem;">{{ title }}</h3>
            </div>
        </div>
    </footer>
{% endblock %}